<template>
  <header class="header-menu">
    <div class="align-content">
      <div class="header-content">
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Menu',
}
</script>

<style scoped>
.header-menu {
  width: 100%;
  height: 60px;
  background-color: rgb(226, 226, 226);
}
.header-content {
  width: 100%;
  height: 100%;
}
.header-content ul {
  list-style-type: none;
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-content li {
  float: left;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}
.header-content li:hover {
  background-color: rgb(197, 197, 197);
  transition: 0.2s ease-out;
}
a:link, a:visited, a {
  text-decoration: none;
  color: #2c3e50;
}
</style>
