<template>
  <section class="section">
    <h1 class="title">Template Syntax <small>(directives: v-model and v-html)</small></h1>
    <div class="field-content">

      <!--  DIRETIVA V-MODEL e V-HTML

        A diretiva v-model altera uma variavel em tempo real, fazendo um caminho de mão dupla entre o Template e o Script 
        isso quer dizer que, quando se utiliza uma diretiva v-model="nome_variavel" no sue template, quando for alterar 
        essa variavel pelo script ou pelo próprio template (como nos exemplos abaixo, alterando pelos inputs) ela altera 
        em tempo real o valor da variavel

        A diretiva v-html possui a função de renderizar no template variaveis com valores que possuem tags HTML, exemplo:
        se você possui uma variável: texto = "<h1>Hello World</h1>" se vc apenas inserir essa variavel no template usando 
        as sintaxes de template {{ texto }}, o seu resultado será uma string, portanto quando se for imprimir uma variavel 
        que possua tags HTML em seu valor, deve usar a diretiva v-html="texto" dessa forma o VUE interpretará a variavel texto
        e compilará seu valor de maneira correta, usando as tags HTML
      
       -->

      <div class="infos">
        
        <!-- exemplos de como utilizar diretivas de template -->
        <div><b>Prop Texto:</b> {{ texto }}</div>
        <br>
        <div><b>Name:</b> {{ name }}</div> 
        <div><b>Email:</b> {{ email }}</div>
        <div><b>Message with Html:</b> <span v-html="message"></span></div>
      </div>
      
      <div class="form">
        
        <!-- exemplos de como utilizar v-model -->
        
        <b-field label="Nome" >
          <b-input v-model="name"></b-input>
        </b-field>

        <b-field label="Email" >
          <b-input type="email" maxlength="30" v-model="email"></b-input>
        </b-field>

        <b-field label="Message" >
          <b-input maxlength="200" type="textarea" v-model="message"></b-input>
        </b-field>

        <div class="notification is-primary">
          <b-button type="is-primary" inverted @click="submit()">
            Submit
          </b-button>
          <b-button type="is-primary" inverted outlined @click="cancel()">
            Cancel
          </b-button>
        </div>
      </div>

      <div class="form">
        <b-field label="Get User By Id" >
          <b-input v-model="id"></b-input>
        </b-field>
        <b-button type="is-primary" inverted @click="get()">
          Get user
        </b-button>
      </div>
    </div>
  </section>  
</template>

<script>
export default {
  name: 'Syntax',
  props: {
    'texto': {
      type: String,
      default: "You know nothing!"
    }
  },
  data() {
    return {
      name: '',
      email: '',
      message: '',
      id: '',
      user: {}
    }
  },
  methods: {
    cancel: function () {
      this.name = ''
      this.email = ''
      this.message = ''
    },
    submit: function () {
      this.$http.post('http://localhost:3000/users',{
        user: {
          nome: this.name,
          email: this.email
        }
      })
      .then((response) => {
        this.$toast.open({
          message: 'Something happened correctly!',
          type: 'is-success'
        })
      })
    },
    get() {
      this.$http.get('http://localhost:3000/users/' + this.id)
      .then((response) => {
        this.user = response.data.data
        
        this.$dialog.alert({
          title: this.user.nome,
          message: `You found ${this.user.nome}!`,
          confirmText: 'Cool!'
        })
      })
    }
  }
}
</script>

<style scoped>
.field-color {
  color: white !important;
}
.infos {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(252, 172, 126);
  display: block;
}
.infos div {
  padding: 5px;
}
.form {
  margin-top: 20px;
}
.notification button {
  margin: 10px !important;
}
</style>
